<h1 class="asd">All books</h1>

<div class="books">
    {{#if books}}
    <div class="row">
        {{#each books}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{img}}" alt="{{img}}">
                    <span class=" card-title">{{name}}</span>
                </div>  
                <div class="card-content">
                    <p>{{year}}</p>
                </div>
                <div class="card-action">
                    <a href="/product/delete/{{id}}">delete</a>
                    <a href="/product/update/{{id}}/add">update</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
    {{else}}
    <h2 class="mt">Books are empty</h2>
    {{/if}}

    <a href="/product/add">Add</a>
</div>

